.fs48 {
    font-size:48pt
}
.ilb {
    display: inline-block
}
.pd4 {
    padding: 4em;
}
.pd0 {
    padding: 0
}
.mgtb08 {
    margin: 0.8em 0;
}
.mgt08 {
    margin-top: 0.8em;
}
.mg0{
    margin: 0
}
.bk {
    display: block;
}
.text-center {
    text-align: center;
}
.center {
    margin: auto;
}
.wid100 {
    width: 100%
}
.brdrSld{
    border: solid .2em;
}
